# Project-dependent assets
/assets/*

# SQLite database files
*.sqlite3

# Python cached / optimized files
*.py[co]

# VirtualEnv files
/bin/*
/lib/*
/local/*
/include/*
/build/*
/.Python

# Ignore non-git hidden files
/.*
/!.git*

# Don't ignore our script for installing the MaxMind GeoLocation database.
!/bin/install_geo_db.sh
